CY.IoTM.SystemInterface/Connected Services/UM/UserManageWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddIotUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userInfoJson" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="meterInfoJson" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddIotUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddIotUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateIotUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userInfoJson" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="meterInfoJson" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateIotUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateIotUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadIotUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="index" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadIotUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadIotUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddIotUserSoapIn">
    <wsdl:part name="parameters" element="tns:AddIotUser" />
  </wsdl:message>
  <wsdl:message name="AddIotUserSoapOut">
    <wsdl:part name="parameters" element="tns:AddIotUserResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateIotUserSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateIotUser" />
  </wsdl:message>
  <wsdl:message name="UpdateIotUserSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateIotUserResponse" />
  </wsdl:message>
  <wsdl:message name="ReadIotUserSoapIn">
    <wsdl:part name="parameters" element="tns:ReadIotUser" />
  </wsdl:message>
  <wsdl:message name="ReadIotUserSoapOut">
    <wsdl:part name="parameters" element="tns:ReadIotUserResponse" />
  </wsdl:message>
  <wsdl:portType name="UserManageWebServiceSoap">
    <wsdl:operation name="AddIotUser">
      <wsdl:input message="tns:AddIotUserSoapIn" />
      <wsdl:output message="tns:AddIotUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateIotUser">
      <wsdl:input message="tns:UpdateIotUserSoapIn" />
      <wsdl:output message="tns:UpdateIotUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadIotUser">
      <wsdl:input message="tns:ReadIotUserSoapIn" />
      <wsdl:output message="tns:ReadIotUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserManageWebServiceSoap" type="tns:UserManageWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddIotUser">
      <soap:operation soapAction="http://tempuri.org/AddIotUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateIotUser">
      <soap:operation soapAction="http://tempuri.org/UpdateIotUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadIotUser">
      <soap:operation soapAction="http://tempuri.org/ReadIotUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserManageWebServiceSoap12" type="tns:UserManageWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddIotUser">
      <soap12:operation soapAction="http://tempuri.org/AddIotUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateIotUser">
      <soap12:operation soapAction="http://tempuri.org/UpdateIotUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadIotUser">
      <soap12:operation soapAction="http://tempuri.org/ReadIotUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserManageWebService">
    <wsdl:port name="UserManageWebServiceSoap" binding="tns:UserManageWebServiceSoap">
      <soap:address location="http://localhost:4656/WebService/UserManageWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="UserManageWebServiceSoap12" binding="tns:UserManageWebServiceSoap12">
      <soap12:address location="http://localhost:4656/WebService/UserManageWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>